<!-- table.table>thead>tr>th*3 -->
{% extends 'videos/base.html' %}
{% comment %} Recupere le model
puis on insere le bloc

{% endcomment %}

{% block content %}

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for m in movies %}
        <tr>
            {% comment %} <th> <a href="/videos/{{m.id}}"> {{m.name}} </a> </th> {% endcomment %}
            <th> <a href={% url 'movies_detail' m.id %} > {{m.name}} </a> </th>
            <th>{{m.genre}}</th>
            <th>{{m.nbr_en_stock}}</th>
            <th>{{m.prix}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}